<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/dist/css/viewForm.css">
</head>

<body>
    <div class="wrapper">
        <div id="divToPrint">
            <div class="billPrintWrapper">
                <div class="titleSec">
                    <div class="leftSec">P.D.P.C.C.S.-3 <br>
                        2000/05/2007</div>
                    <h2>APPLICATION FOR GENERAL LOAN</h2>
                    <div class="rightSec">
                        Price Re.2/- <br>
                        Phone : 2479-6665, No. 2020 /
                    </div>
                </div>

                <div class="section_cus">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableCustom">
                        <tr>
                            <td class="text_left">
                                <p>
                                    Serial No. <span class="name-text" style="width: 15vw;"><%= appDt.SL_NO %></span> <br>
                                    Date of Receipt <span class="name-text" style="width: 15vw;"><%= dateFormat(appDt.RECEIPT_DT, "dd/mm/yyyy") %></span> <br>
                                    Initial of Receiving Official.
                                </p>
                            </td>
                            <td class="text_right align_top">
                                <p>Paid by Cheque No..................................</p>
                            </td>
                        </tr>


                    </table>
                </div>

                <div class="section_cus">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableCustom">


                        <tr>
                            <td class="text_left">

                            </td>
                            <td class="text_right">
                                <ul class="name_li">
                                    <li>Hony. Treasurer</li>
                                    <li>Chairman Hony.</li>
                                    <li>Secretary</li>
                                </ul>
                            </td>
                        </tr>

                    </table>
                </div>

                <div class="latter_sec">

                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableCustom">
                        <tr>
                            <td class="leftSec">
                                <h3>TO THE COMMITTEE OF MANAGEMENT</h3>
                                <p>The Presidency Division Postal <br>
                                    Co-operative Credit Society Ltd. <br>
                                    Alipore H.O. Buildings, Kolkata - 700 027</p>
                            </td>
                            <td class="rightSec align_bot">
                                <p>Dated.............................</p>
                            </td>
                        </tr>

                    </table>
                </div>

                <div class="latter_sec_full">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableCustom">
                        <tr>
                            <td class="leftSec">
                                <p>Sir, <br>
                                    I beg to apply for a loan of Rs <span class="name-text" style="width: 15vw;"><%= appDt.APPLY_LOAN_AMT %></span> (in
                                    words) <span class="name-text" style="width: 15vw;"><%= amt_str %></span> 
                                    under the bye-laws of the Society, to be repaid in
                                    <span class="name-text" style="width: 15vw;"><%= dateFormat(appDt.REPAID_DT, "dd/mm/yyyy") %></span> consecutive
                                    monthly instalments for the
                                    purpose of repayment of the outstanding balance of my previous loan to the Society
                                    (if any) and also for the purpose
                                    of <span class="name-text" style="width: 15vw;"><%= appDt.PURPOSE %></span>
                                    I declare that surplus available from my total emoluments after meeting all the
                                    expenses, is sufficient to pay the monthly loan
                                    instalment and interest of the Society and there would be no hardship to pay loan
                                    instalment etc. against this loan and that no case is
                                    pending against me in any Civil Court for my indebtedness and my pay is not under
                                    attachment by a Court of Law.
                                    I also declare that the particulars given below are true and correct according to my
                                    Service Book.</p>
                            </td>
                        </tr>

                    </table>
                </div>

                <div class="section_cus">
                    <h3 class="center">STATEMENT OF PARTICULARS</h3>
                    <p>1. Full name (In Block Letters)
                        <span class="name-text" style="width: 15vw;"><%= appDt.MEM_NAME %></span> <br>
                        2. Membership No <span class="name-text" style="width: 15vw;"><%= appDt.MEMBERSHIP_NUMBER %></span> <br>
                        3. Value of
                        Shares Rs <span class="name-text" style="width: 15vw;"><%= appDt.SHARE_VALUE %></span> <br>
                        4. Date of Birth <span class="name-text" style="width: 15vw;"><%= dateFormat(appDt.DOB, "dd/mm/yyyy") %></span> <br>
                        5. Basic pay/Substantive pay (monthly) Rs <span class="name-text" style="width: 15vw;"><%= appDt.BASIC_PAY %></span> <br>
                        6. Age of 60 years on ............................................................... <br>
                        7. Amount of last loan of Rs. <span class="name-text" style="width: 15vw;"><%= appDt.LAST_LOAN_AMT %></span> <br>
                        8. Balance of old General Loan Rs <span class="name-text" style="width: 15vw;"><%= appDt.OLD_GEN_LOAN_BAL %></span> <br>
                        9. Defaulter or not a defaulter <span class="name-text" style="width: 15vw;"><%= appDt.DEFAULTER != 'N' ? 'Yes' : 'No' %></span> <br>
                        10. Any recovery for being a surety <span class="name-text" style="width: 15vw;"><%= appDt.RECOV_BNG_ASU %></span> <br>
                        11. Date of last increment <span class="name-text" style="width: 15vw;"><%= dateFormat(appDt.LAST_INC_DT, "dd/mm/yyyy") %></span> <br>
                        12. Rate of increment
                        <span class="name-text" style="width: 15vw;"><%= appDt.RATE_OF_INC %></span> <br>
                        13. State the nature of Surety to be furnished
                        <span class="name-text" style="width: 15vw;"><%= appDt.NATURE_OF_SURITY %></span> Personal/Life
                        Policy/Share Value/
                        Thrift fund/Personal Guarantee fund.
                        Member standing sureties of this Loan have signed whose particulars are given on the reverse.
                    </p>

                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableCustom">
                        <tr>
                            <td class="text_left">
                                <p><br>Local Address <br>
                                    <span class="name-text" style="width: 15vw;"><%= appDt.PER_ADDR %></span>
                                    <br>
                                    Mobile No. : <span class="name-text" style="width: 15vw;"><%= appDt.MOBILE_NO %></span> <br>
                                    <b>N.B. - Applicant's Signature <br>
                                        to be duly attested</b>
                                </p>
                            </td>
                            <td class="text_right align_top">
                                <p>
                                    <b>Yours faithfully <br>
                                        ........................................................... <br>
                                        Signature in full & Date <br> <br>
                                        Designation &
                                        Office........................................................................................
                                        <br>
                                        Salary drawn in Bill
                                        No....................................................................................
                                        <br>
                                        Part......................................................................
                                        Dept.....................................</b>
                                </p>
                            </td>
                        </tr>

                    </table>
                </div>

                <div class="section_cus rupice_table">
                    <h3>OFFICE REPORT</h3>
                    <p>1. Value of Shares
                        Rs..................................................................................... as on
                        .................................... Verified.......................
                        2. Loan A/c No......................................... 3. Date of Last Loan
                        .............................................. 4. Pay Rs. .................................
                        5. Age of (60 years) on .............................. 6. Exemptions granted on
                        ..........................................................................................
                        7. </p>

                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableCustom">
                        <tr>
                            <th>Amount of Last Loan</th>
                            <th>Rates of Instalment</th>
                            <th>Balance Outstanding</th>
                            <th>Defaulting amount, if any,</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>as on ..............................</td>
                            <td>as on ..............................</td>
                        </tr>
                        <tr>
                            <td>General.........Rs.</td>
                            <td>Rs.</td>
                            <td>Rs.</td>
                            <td>Rs.</td>
                        </tr>

                    </table>
                    <p>8. Default in paying suretyship liability, if any ......................................... 9.
                        Additional remakrs, if any .......................................
                        10. The above information is correct and the application for loan along with Sureties furnished
                        herein is found admissible under
                        the bye lays</p>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableCustom">
                        <tr>
                            <th width="33%"></th>
                            <th width="33%"></th>
                            <th width="33%">Clerk</th>
                        </tr>
                        <tr>
                            <td><b>Office Order</b></td>
                            <td>
                                <p>i) Recommended Rs................................... <br>
                                    ii) Can not be entertained/Rejected <br>
                                    iii) Referred to the Managing Committee</p>
                            </td>
                            <td>
                                <p>Sanctioned for Rs...................... (in words)
                                    ........................................................... only
                                    repayable in ...............................................</p>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td> <b>Hony. Secretary</b> </td>
                            <td><b>Chairman</b></td>
                        </tr>

                    </table>

                    <p>We agree to stand sureties for the above mentioned loan applied for by
                        ..........................................................................................
                        ...................................................................................... and we
                        declare that our respective pay is not under attachment by any court of
                        law. There is no prospect of our retirement within the period of repayment promised by the
                        aforesaid applicant. We also declare that in
                        the event of non-payment of loan instalment with interest by the principal borrower, the Society
                        will be at liberty to recover such
                        instalment with interest and or may be fixed by the Society from time to time from our pay as
                        per bond furnished by us.</p>


                </div>

                <div class="section_cus_two_column">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableCustom">

                        <tr>
                            <td class="text_left">
                                <p>1.................................................................... <br>
                                    ( Signature in full ) <br>
                                    Designation & Office..................................................
                                    I shall attain the age of 60 years on ...........................
                                    Basic Pay.......................... Shares Rs.........................
                                    Date................... Membership No.............................</p>
                                <br>
                                <p>3.................................................................... <br>
                                    ( Signature in full )
                                    Designation & Office..................................................
                                    I shall attain the age of 60 years on ...........................
                                    Basic Pay.......................... Shares Rs.........................
                                    Date................... Membership No..............................</p>
                                <br>
                                <p>5.................................................................... <br>
                                    ( Signature in full ) <br>
                                    Designation & Office..................................................
                                    I shall attain the age of 60 years on ...........................
                                    Basic Pay.......................... Shares Rs.........................
                                    Date................... Membership No.............................</p>
                                <br>
                                <p>7.................................................................... <br>
                                    ( Signature in full ) <br>
                                    Designation & Office..................................................
                                    I shall attain the age of 60 years on ...........................
                                    Basic Pay.......................... Shares Rs.........................
                                    Date................... Membership No.............................</p>
                                <br>
                                <p>9.................................................................... <br>
                                    ( Signature in full ) <br>
                                    Designation & Office..................................................
                                    I shall attain the age of 60 years on ...........................
                                    Basic Pay.......................... Shares Rs.........................
                                    Date................... Membership No.............................</p>
                            </td>
                            <td class="text_left">
                                <p>2.................................................................... <br>
                                    ( Signature in full ) <br>
                                    Designation & Office..................................................
                                    I shall attain the age of 60 years on ...........................
                                    Basic Pay.......................... Shares Rs.........................
                                    Date................... Membership No.............................</p>
                                <br>

                                <p>4.................................................................... <br>
                                    ( Signature in full )
                                    Designation & Office..................................................
                                    I shall attain the age of 60 years on ...........................
                                    Basic Pay.......................... Shares Rs.........................
                                    Date................... Membership No..............................</p>
                                <br>

                                <p>6.................................................................... <br>
                                    ( Signature in full )
                                    Designation & Office..................................................
                                    I shall attain the age of 60 years on ...........................
                                    Basic Pay.......................... Shares Rs.........................
                                    Date................... Membership No..............................</p>
                                <br>
                                <p>8.................................................................... <br>
                                    ( Signature in full )
                                    Designation & Office..................................................
                                    I shall attain the age of 60 years on ...........................
                                    Basic Pay.......................... Shares Rs.........................
                                    Date................... Membership No..............................</p>
                                <br>
                                <p>10.................................................................... <br>
                                    ( Signature in full )
                                    Designation & Office..................................................
                                    I shall attain the age of 60 years on ...........................
                                    Basic Pay.......................... Shares Rs.........................
                                    Date................... Membership No..............................</p>
                                <br>
                            </td>
                        </tr>

                    </table>

                    <h3>INSTRUCTION TO BE FOLLOWED</h3>
                    <p>1. The signature of the Loanee & the Sureties must be attested by their immediate superior with
                        seal & designation or by a member of
                        the present Committee of Management. <br>
                        The signature of time scale S.P. Ms. of Non-delivery post offices may be attested by the L.S.G.
                        or H.S.G. S.P. Ms. of the
                        respective delivery offices. Signature of the L.S.G.S.P. Ms. of Non-delivery offices may be
                        attested by the S.P. Ms. of the
                        respective delivery office of the higher status (H.S.G.) or by the Assistant Superintendent of
                        the Division concerned. </p>
                    <p>2. In the case of wrong declaration regarding Shares, Pay and Age in the loan application as on
                        the date of submission, the
                        application, may be rejected and also penal measure may be taken. </p>
                    <p>3. A Loanee must furnish one surety for every Rs. 5000/- subject to a minimum of 2 sureties.</p>
                </div>


                <div class="section_cus_two_column_2">

                    <div class="titleSec">
                        <div class="leftSec">P.D.P.C.C.S.-3 <br>
                            2000/05/2007</div>
                        <h2>Presidency Division Postal Co-operative Credit Society Ltd.
                            <span>ALIPORE H.O. BUILDINGS, KOLKATA - 700 027 <br>
                                [Regd. No. 640/Cal. of 1920]
                                Phone : 033 2479 6665</span>
                        </h2>
                        <div class="rightSec">
                            Price Re.2/- <br>
                            No. 2020 /
                        </div>
                    </div>

                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableCustom">

                        <tr>
                            <th class="text_left">
                                <p>OFFICE NOTES</p>
                            </th>
                            <th class="text_left">
                                <p>RECEIPTS</p>
                            </th>
                        </tr>

                        <tr>
                            <td class="text_left">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="text_left" width="50%">
                                            <p>i) Amount Sanctioned for <br> ii) Less Balance Outstanding Payable Amount
                                                <br>
                                                iii) Less Sinking
                                                Fund Rs..... <br>
                                                iv) Less : P. G.
                                                Fund Rs.... </p>
                                        </td>
                                        <td class="text_left" width="50%">
                                            <p>Rs.............. <br> Rs.............. <br> Rs.............. <br>Total-
                                                Rs..........</p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="text_left" width="50%">
                                            <p>Net Amount Payable <br> Date &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                Clerk-in-Charge</p>
                                        </td>
                                        <td class="text_left" width="50%">
                                            <p>Rs................</p>
                                        </td>
                                    </tr>

                                </table>
                            </td>
                            <td class="text_left">
                                <p>Pay by Cheque No ....................................................................
                                    <br> <br>
                                    Chairman Hony. Secretary
                                    Cheque No............................................ prepared and delivered
                                    and entered in Cash Book. <br> <br>
                                    Treasurer
                                    ..................................................................................................
                                    ............................................................................................
                                    Received the Cash/Cheque for Rs............................................
                                    (in
                                    words)..................................................................................
                                    ................................................................................................
                                    ............................................................................................
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td class="text_left">(No correction or overwriting will be accepted)</td>
                            <td class="text_left"> <b>General Loan Bond No.</b> </td>
                        </tr>

                    </table>

                    <p>I .......................................................................................................................................................................
                        a member of the </p>
                    <h3> (In Block Letters) </h3>
                    <p>Presidency Division Postal Co-operative Credit Society Ltd. Membership No.
                        ........................................................... son/daughter/
                        wife of
                        ................................................................................................
                        Village ................................................................................. Post
                        Office.......................................... Thana.........................................
                        District.......................................hereby acknowledge subject to the
                        Bye Laws of the Society, the receipt of a sum of Rs........................................ (in
                        words)..........................................................................
                        ........................................................................... as loan from the
                        said Society after clearance of outstanding balance of my previous
                        loan & S.F. & P.G. Fund contribution.
                        I undertake to pay interest on this loan or such portion of it as may remain unpaid from this
                        date at the rate which is fixed
                        at present or will be fixed by the General Meeting from time to time and repay this loan with
                        interest in
                        ......................................... consecutive monthly instalments in or accordance with
                        the Bye Laws of the Society whenever I shall be
                        called upon to do so.
                        If I fail to pay interest or any instalment of principal on the due date the whole with interest
                        shall become immediately due
                        and payable. I further undertake to pay additional interest at such rate as may be laid down in
                        the Bye Laws of the Society, or any
                        over due payment from the date of default. I also undertake to repay, as per decision of the
                        Society, instalment of loan and interest as
                        aforesaid, which for any reason may remain unpaid within the bond period.
                        I further agree that the loan shall be expended on
                        ..................................................................................... within one
                        month
                        from this date. If the loan is not so applied, I undertake to repay the money with interest
                        together with such additional interest as may
                        be levied in accordance with the Bye Laws.
                        Subject to the Bye Laws I do hereby pledge my Thrift Fund, P.G. Fund and Share value held in the
                        Society as security
                        against this loan.
                        I do hereby authorise The Presidency Division Postal Co-operative Credit Society Ltd. to demand
                        recovery of the said
                        loan of Rs. ......................................................... by monthly instalment as
                        may be fixed by the Society together with interest due
                        thereon by deduction in consecutive months from my pay or leave salary as the case may be,
                        through disbursing officer of the office
                        in which I am at present or may in future be employed, in accordance with Sec 58 of the West
                        Bengal Co-operative Societies Act
                        1987 till this loan is finally liquidated.
                        If however, I am required to retire from my service or I cease to be an employee of the
                        Government or any local authority
                        or any person as the case may be, before the whole amount of the loan of Rs.
                        ............................................................... is fully paid the
                        balance of the loan payable by me to the Society shall be deductable from the gratuity payable
                        to me by my employer. I do hereby
                        undertake to repay the amount of outstanding loan together with interest from gratuity money and
                        accordingly authorise my employer
                        and/or disbursing officer concerned to recover the said amount from gratuity money on demand
                        from The Presidency Division Postal
                        Co-operative Credit Society Ltd. to deduct the balance of the loan payable by me to the Society
                        from the gratuity payable by my such
                        employer to me in accordance with Section 58(3) and 58(2) West Bengal Co-operative Societies
                        Act. 1987.
                        I also agree to have deduction being made from my salary every month towards payment of
                        contributions of the Thrift Fund so
                        long as I am a member of the Society.
                        Under the above conditions I execute this bond after having duly received the sum in full.</p>
                </div>

                <div class="section_cus_two_column">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableCustom">

                        <tr>
                            <td class="text_left">
                                <h3>DECLARATION</h3>
                                <p>I solemnly declare that I have already paid
                                    on ....................................... the monthly instalment with
                                    interest and all other dues payable for the month
                                    of............................................................................................
                                    ,..............................................................................................
                                </p>
                                <h3>Signature & Date</h3>
                            </td>
                            <td class="text_right" style="border-left: #ccc solid 2px; padding-left: 15px;">
                                <p>Signature in full
                                    ............................................................................
                                    Designation & Office
                                    ....................................................................
                                    Residential Address
                                    .....................................................................
                                    .....................................................................................................
                                    Date ............................ 20
                                    Attestation with designation & Seal ..............................................
                                    ......................................................................................................
                                    Mobile
                                    ..........................................................................................
                                </p>
                            </td>
                        </tr>

                    </table>
                    <p>We hereby agree to be sureties of the loan as mentioned overleaf and to be jointly and severally
                        liable for (1) its
                        repayment with the interest till its final recovery and any cost incurred in the collection and
                        (2) for its employment in accordance with
                        the purpose mentioned in the Bond and like do. <br> <br>
                        And we do hereby agree and give our full consent to allow within or after the bond period any
                        extension of time for
                        repayment of the loan or suspension of recoveries or general remission of repayment or monthly
                        instalment of the loan or
                        exemption from payment of monthly repayment of the loan as mentioned overleaf in favour of the
                        principal borrower by the
                        Society in accordance with the Bye-Laws of the Presidency Division Postal Co-operative Credit
                        Society Ltd. <br> <br>
                        Further, we do hereby authorise the Society to realise the outstanding loan from our salary
                        together with interest due
                        thereon by demanding recovery of such amount by consecutive monthly instalment as may be
                        determined by the Society within
                        and/or after the bond period from our salary or leave salary as the case may be through the
                        disbursing officer of such salary as
                        provided in Section 58(2) and 58(3)(a) of The West Bengal Co-operative Societies Act. 1986 till
                        such amount is finally liquidated
                        in the event of non-payment of the loan by the principal borrower contracted under this bond.
                    </p>

                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableCustom">

                        <tr>
                            <td class="text_left bold_td">
                                <p>1. Full Signature & Date:
                                    <br> <br>
                                    Designation & Office/Dept.:
                                    <br> <br>
                                    Local Address:
                                    <br> <br>
                                    Father's Name: <br> <br>
                                    Membership No ..........................................
                                </p>
                            </td>
                            <td class="text_right bold_td" style="border-left: #ccc solid 2px; padding-left: 15px;">
                                <p>2. Full Signature & Date:
                                    <br> <br>
                                    Designation & Office/Dept.:
                                    <br> <br>
                                    Local Address:
                                    <br> <br>
                                    Father's Name: <br> <br>
                                    Membership No ..........................................
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="text_left bold_td">
                                <p>3. Full Signature & Date:
                                    <br> <br>
                                    Designation & Office/Dept.:
                                    <br> <br>
                                    Local Address:
                                    <br> <br>
                                    Father's Name: <br> <br>
                                    Membership No ..........................................
                                </p>
                            </td>
                            <td class="text_right bold_td" style="border-left: #ccc solid 2px; padding-left: 15px;">
                                <p>4. Full Signature & Date:
                                    <br> <br>
                                    Designation & Office/Dept.:
                                    <br> <br>
                                    Local Address:
                                    <br> <br>
                                    Father's Name: <br> <br>
                                    Membership No ..........................................
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="text_left bold_td">
                                <p>5. Full Signature & Date:
                                    <br> <br>
                                    Designation & Office/Dept.:
                                    <br> <br>
                                    Local Address:
                                    <br> <br>
                                    Father's Name: <br> <br>
                                    Membership No ..........................................
                                </p>
                            </td>
                            <td class="text_right bold_td" style="border-left: #ccc solid 2px; padding-left: 15px;">
                                <p>6. Full Signature & Date:
                                    <br> <br>
                                    Designation & Office/Dept.:
                                    <br> <br>
                                    Local Address:
                                    <br> <br>
                                    Father's Name: <br> <br>
                                    Membership No ..........................................
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="text_left bold_td">
                                <p>7. Full Signature & Date:
                                    <br> <br>
                                    Designation & Office/Dept.:
                                    <br> <br>
                                    Local Address:
                                    <br> <br>
                                    Father's Name: <br> <br>
                                    Membership No ..........................................
                                </p>
                            </td>
                            <td class="text_right bold_td" style="border-left: #ccc solid 2px; padding-left: 15px;">
                                <p>8. Full Signature & Date:
                                    <br> <br>
                                    Designation & Office/Dept.:
                                    <br> <br>
                                    Local Address:
                                    <br> <br>
                                    Father's Name: <br> <br>
                                    Membership No ..........................................
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div style="text-align: center; display: <%= user ? 'block' : 'none' %>;">
            <!-- <button class="btn btn-primary" type="button" onclick="printDiv();">Print</button> -->
            <button class="btn btn-primary" type="button" onclick="downloadPDF();">Download</button>
        </div>

    </div>
</body>

<script src="/plugins/jquery/jquery.min.js"></script>
<script>
    function downloadPDF() {
        $.ajax({
            method: "GET",
            url: "/admin/download-pdf",
            data: { encFlag: '<%= encFlag %>', id: '<%= id %>', flag: '<%= flag %>', bank_id: '<%= user ? user.BANK_ID : 0 %>' },
            xhrFields: {
                responseType: 'blob' // Receive response as a binary blob
            },
            beforeSend: function () {
                $(".loader-wrapper").show();
            },
            success: function (data) {
            // Create a Blob URL for the PDF
                const pdfUrl = URL.createObjectURL(data);

                console.log(pdfUrl);
                

                // Create an anchor element for downloading the PDF
                const a = document.createElement('a');
                a.href = pdfUrl;
                a.download = `<%= title %>_${new Date().getTime()}.pdf`; // Set the desired filename
                a.style.display = 'none';

                // Append the anchor to the document body and trigger a click event
                document.body.appendChild(a);
                a.click();

                // Cleanup: Remove the anchor and revoke the Blob URL
                document.body.removeChild(a);
                URL.revokeObjectURL(pdfUrl);
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
            },
            complete: function () {
                $(".loader-wrapper").hide();
            }
        })
        
        // window.location.href = '/admin/download-pdf?';
    }
</script>

</html>