<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/dist/css/viewForm.css">
</head>

<!-- <body onload="window.print()"> -->
<body>
    <div class="wrapper">
        <div id="divToPrint">
            <div class="billPrintWrapper">
                <div class="titleSec">
                    <div class="leftSec">P.D.P.C.C.S.-3 <br>
                        2000/05/2007</div>
                    <h2>APPLICATION FOR MEMBERSHIP</h2>
                    <div class="rightSec">
                        Price Re.2/- <br>
                        Phone : 2479-6665, No. 2020 /
                    </div>
                </div>
                <div class="section_cus">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableCustom">
                        <tr>
                            <td class="text_left col_3">
                                <p>
                                    Serial No. <span class="name-text" style="width: 15vw;"><%= appDt.SL_NO %></span> <br>
                                    Date of Receipt <span class="name-text" style="width: 15vw;"><%= dateFormat(appDt.RECEIPT_DT, "dd/mm/yyyy") %></span> <br>
                                    Initial of Receiving Official.
                                </p>
                            </td>
                            <td class="text_center align_top col_3 border_td">
                                <p> <b>Order of the Committee of <br>
                                        Management. <br></b>
                                    Admitted as member and <br>
                                    <span class="name-text" style="width: 10vw;"><%= appDt.TOT_SHARE %></span> Shares alloted</p>
                            </td>
                            <td class="text_center align_top col_3">
                                <p> <b>Observation of the Hony. <br>
                                        Secretary <br></b>
                                    Recomended for admission <br>
                                    and allotment of shares
                                    as applied</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="text_left col_3">
                                <p> <b>Remarks of the Office</b> </p>
                            </td>
                            <td class="text_left col_3">
                                <p>
                                    <b>Chairman <br>
                                        Membership No-</b>
                                </p>
                            </td>
                            <td class="text_left col_3">
                                <p>
                                    <b>................... Hony. Secretary</b>
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="section_cus_two_column_2">
                    <p>To <br>
                        The Committee of Management <br>
                        The Presidency Division Postal Co-operative Credit Society Ltd. <br>
                        Alipore H. O. Buildings, Kolkata-700 027</p>
                    <p class="input-group">
                        <span>I</span>
                        <span class="name-text" style="width: 60vw;"><%= appDt.MEM_NAME %></span>
                        <span class="info">(in Block Letters)</span>
                        <span class="relation">Son/Daughter/Wife</span>
                    </p>
                    <!-- <p>I .......................................................................................................................................................................<b>(In
                            Block Letters)</b> a member of the </p> -->
                    <p>
                        of
                        <span class="name-text" style="width: 30vw;"><%= appDt.CO_NAME %></span>
                        beg
                        to apply for admission as a
                        member of the Presidency Division Postal Co-operative Credit Society Ltd. I have carefully read
                        the rules
                        and bye-laws of the Society and hereby agree to abide by them and abide by any addition and
                        modification
                        to such rules and bye-laws that may take effect during the period of my membership.
                        I enclose the following documents as required for the purpose of admission of membership. <br>
                        i) Copy of 1st page of my Service Book. <br>
                        ii) Original Department order of permanency or quasi-permanency issued by
                        the
                        <span class="name-text" style="width: 25vw;"><%= appDt.ISSUED_BY %></span>
                        in his memo
                        No <span class="name-text" style="width: 20vw;"><%= appDt.MEMO_NO %></span> Dated <span class="name-text" style="width: 20vw;"><%= dateFormat(appDt.MEMO_DT, "dd/mm/yyyy") %></span> <br> <br>

                        I request you will kindly allot me <span class="name-text" style="width: 20vw;"><%= appDt.TOT_SHARE %></span> Shares of Rupees Ten each and I hereby
                        agree to accept
                        the same or any less number that you may allot me. <br><br>
                        In accordance with the provisions of Section 69 of the W.B.C.S. Act. 1983 and Bye laws of the
                        Society. I beg to nominate and do hereby nominate my
                        (relation) <span class="name-text" style="width: 15vw;"><%= appDt.NOMI_RELATION %></span>
                        (Name) <span class="name-text" style="width: 40vw;"><%= appDt.NOMI_NAME %></span>(Address) <span class="name-text" style="width: 60vw;"><%= appDt.NOMI_ADDR %></span>
                        <b>(In Block Letters)</b> (Age) <span class="name-text" style="width: 10vw;"><%= appDt.NOMI_AGE %></span> <br>

                        I declare that the particulars of information and declaration furnished by me are true and
                        correct. I also declare that I am a Citizen of the Indian Union.
                    </p>
                </div>
                <div class="latter_sec">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableCustom">
                        <tr>
                            <td class="leftSec">
                                <p><b>Date: </b> </p>
                            </td>
                            <td class="rightSec">
                                <p> <b>Yours faithfully, <br><br>
                                        Full Signature (To be attested)</b> </p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="section_cus_two_column">
                    <h3>Particulars of Applicant</h3>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableCustom">
                        <tbody>
                            <tr>
                                <td class="text_left">
                                    <p>i) Office in which employed <br> <span class="name-text" style="width: 30vw;"><%= appDt.OFFICE_NAME %></span> <br>
                                    iii) Official designation <span class="name-text" style="width: 18vw;"><%= appDt.DESIGNATION %></span> <br>
                                    v) Date of attaining 58 years. <span class="name-text" style="width: 18vw;"></span> <br>
                                    vii) Monthly substantive pay <span class="name-text" style="width: 18vw;"><%= appDt.MON_SUB_PAY %></span> <br>
                                    ix) Date of permanency or quasi permanency <span class="name-text" style="width: 30vw;"></span> <br>
                                    xii) Permanent Address
                                    <br>
                                    <span class="name-text" style="width: 30vw; font-size: 15px;"><%= appDt.PER_ADDR %></span>
                                    </p>
                                </td>
                                <td class="text_left">
                                    <p>ii) Attached to <span class="name-text" style="width: 18vw;"></span> <br>
                                    iv) Date of birth <span class="name-text" style="width: 18vw;"><%= dateFormat(appDt.DOB, "dd/mm/yyyy") %></span> <br>
                                    vi) Date of entry in the Dept. <span class="name-text" style="width: 18vw;"><%= dateFormat(appDt.DEP_ENTRY_DT, "dd/mm/yyyy") %></span> <br>
                                    viii) Date of last increment <span class="name-text" style="width: 18vw;"><%= dateFormat(appDt.LAST_INC_DT, "dd/mm/yyyy") %></span> <br>
                                    x) Local Address. <br>
                                    <span class="name-text" style="width: 30vw; font-size: 15px;"><%= appDt.LOCAL_ADDR %></span></p>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <h3>Declaration</h3>
                    <p>I Shri <span class="name-text" style="width: 50vw;"><%= appDt.MEM_NAME %></span> solemnly
                        declare that I am not
                        a member of any other Posts and Telegraphs Co-operative Credit Society and agree that I shall
                        not be a
                        member of any such society in future too, so long as I shall remain a member of the Presidency
                        Division
                        Postal Co-operative Credit Society Ltd. In the event of any breach of this declaration and
                        agreement I
                        shall automatically cease to enjoy all the rights and privileges of membership of the Society.
                        ( 2 )
                        Declaration
                        I also declare that I was a member of the Presidency Division Co-operative Credit Society Ltd.,
                        holding member No <span class="name-text" style="width: 20vw;"><%= appDt.MEMBER_ID %></span> and the date of ceasation of my
                        said previous membership is <span class="name-text" style="width: 30vw;"></span></p>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableCustom">
                        <tbody>
                            <tr>
                                <td class="text_left">
                                    <p> <b>Date : </b> </p>
                                </td>
                                <td class="text_right">
                                    <p> <b>Full Signature (To be duly attested)</b> </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h3>Declaration in case of a person who is already a member of any other P. & T. <br>
                        Co-operative Credit Society</h3>
                    <p>I declare that I am a member of the Name(s).......................................
                        ............................................................................................................................................................................
                        ...........................................................................................................................
                        ............................................................................................................................................................................
                        and a letter of consent of the society (s) is appended below :-</p>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableCustom">
                        <tbody>
                            <tr>
                                <td class="text_left">
                                    <!-- <p> <b>Date : </b> </p> -->
                                </td>
                                <td class="text_right">
                                    <p> <b>Full Signature (To be duly attested)</b> </p>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <h3>Letter of Consent</h3>
                    <p>The Society
                        (Name).....................................................(address)...............................................................
                        after due consideration of implication of section 39 (b) and 130 of West Bengal Co-operative
                        Credit
                        Societies Act 1983 and of normal maximum credit limit of a member and also the question of over
                        indebtedness of a member as per West Bengal Co-operative Societies Act and Rules hereby gives
                        consent
                        to Sri.................................................................................a
                        registered member of the Society to the admission
                        of membership of the Presidency Division Postal Co-operative Credit Society Ltd. Kolkata-27,
                        another
                        society registered under the Bengal Co-operative Societies Act. He holds share of
                        Rs........................ and at
                        present indebted to the extent of Rs................................. to the Society and
                        repaying a sum of
                        Rs. ...........................towards the monthly instalment regularly. He is not a defaulter.
                        <br>
                        <b>For and on behalf of the committee of Management</b>
                    </p>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableCustom">
                        <tbody>
                            <tr>
                                <td class="text_left">
                                    <p> <b>Full Signature & Date <br> <br> <br>
                                            Chairman <br>Date : ..................... </b> </p>
                                </td>
                                <td class="text_right">
                                    <p> <b>Full Signature & Date <br> Managing Director/Hony. Secretary <br> <br> <br>
                                            Date : ..................... <br> Society's Seal</b> </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div style="text-align: center; display: <%= user ? 'block' : 'none' %>;">

            <!-- <button class="btn btn-primary" type="button" onclick="printDiv();">Print</button> -->
            <button class="btn btn-primary" type="button" onclick="downloadPDF();">Download</button>

        </div>

    </div>
</body>
<script src="/plugins/jquery/jquery.min.js"></script>
<script>
    function downloadPDF() {
        // var divToPrint = document.getElementById(divId);
        // $.ajax({
        //     method: "POST",
        //     url: "/download-pdf?encFlag=<%= encFlag %>&id=<%= id %>&flag=<%= flag %>",
        //     data: { pdfDiv: divToPrint.innerHTML, encFlag:  },
        //     xhrFields: {
        //         responseType: 'blob' // Receive response as a binary blob
        //     },
        //     beforeSend: function () {
        //         $(".loader-wrapper").show();
        //     },
        //     success: function (data) {
        //     // Create a Blob URL for the PDF
        //         const pdfUrl = URL.createObjectURL(data);

        //         // Create an anchor element for downloading the PDF
        //         const a = document.createElement('a');
        //         a.href = pdfUrl;
        //         a.download = `${title}_${new Date().getTime()}.pdf`; // Set the desired filename
        //         a.style.display = 'none';

        //         // Append the anchor to the document body and trigger a click event
        //         document.body.appendChild(a);
        //         a.click();

        //         // Cleanup: Remove the anchor and revoke the Blob URL
        //         document.body.removeChild(a);
        //         URL.revokeObjectURL(pdfUrl);
        //     },
        //     error: function (xhr, status, error) {
        //         console.error('Error:', error);
        //     },
        //     complete: function () {
        //         $(".loader-wrapper").hide();
        //     }
        // })
        // console.log('/admin/download-pdf?encFlag=<%= encFlag %>&id=<%= id %>&flag=<%= flag %>');

        // var divToPrint = document.getElementById(divId);
        $.ajax({
            method: "GET",
            url: "/admin/download-pdf",
            data: { encFlag: '<%= encFlag %>', id: '<%= id %>', flag: '<%= flag %>', bank_id: '<%= user ? user.BANK_ID : 0 %>' },
            xhrFields: {
                responseType: 'blob' // Receive response as a binary blob
            },
            beforeSend: function () {
                $(".loader-wrapper").show();
            },
            success: function (data) {
            // Create a Blob URL for the PDF
                const pdfUrl = URL.createObjectURL(data);

                console.log(pdfUrl);
                

                // Create an anchor element for downloading the PDF
                const a = document.createElement('a');
                a.href = pdfUrl;
                a.download = `<%= title %>_${new Date().getTime()}.pdf`; // Set the desired filename
                a.style.display = 'none';

                // Append the anchor to the document body and trigger a click event
                document.body.appendChild(a);
                a.click();

                // Cleanup: Remove the anchor and revoke the Blob URL
                document.body.removeChild(a);
                URL.revokeObjectURL(pdfUrl);
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
            },
            complete: function () {
                $(".loader-wrapper").hide();
            }
        })
        
        // window.location.href = '/admin/download-pdf?';
    }
</script>

</html>